body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageLogo{
  height: 2rem;
}
.link{
  color: #ffffff;
  text-decoration: none;
}
.linkPages{
  color: #000000;
  text-decoration: none;
}
.linkPages:hover{
  color: #000000;
}
.link:hover{
  color: #D0C9C0;
}

.home-row{
  background-image: url("images/new_york.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.div-welcome{
  background-color: rgba(255, 255, 255, .7); 
  height: 100vh;
  height: auto;
}

.logo-welcome{
  width: 20rem;
}

.div-welcome-mision{
  background-color: black; 
  height: 50vh;
}

.image-mision{
  width : 60vh;
}

.image-vision{
  width : 60vh;
}

.div-welcome-vision{
  background-color: black; 
  height: 50vh;
}

@media (max-width: 633px){
  .div-welcome-mision{
    background-color: black; 
    height: auto;
  }

  .div-welcome-vision{
    background-color: black; 
    height: auto;
  }

  .image-vision{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .image-mision{
    margin-bottom: 2rem;
  }
}

@media (max-height: 386px){
  .logo-welcome{
    width: 10rem;
  }

  .div-welcome-mision{
    background-color: black; 
    height: auto;
  }

  .div-welcome-vision{
    background-color: black; 
    height: auto;
  }
}
/* Quita margen del boton cerrar al modal */
.btn-close {
  margin-left: 100px !important;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}
.modal-image-container {
  height: 200px;
  width: 200px;
}
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
/* Estilo para el scroll con mejor presentacion*/
.prettyScroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.prettyScroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.prettyScroll::-webkit-scrollbar-button:increment,
.prettyScroll::-webkit-scrollbar-button {
  display: none;
}

.prettyScroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.prettyScroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.prettyScroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Para mostrar el sweet alert siempre enfrente */
.swal2-container {
  z-index: 10000 !important;
}
