.sidebarEasy{
  min-height: 100vh !important;
  height: auto;
}

.btn-sidebar{
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: left;
}

.btn-sidebar-activate{
  background-color: darkgray;
}

.btn-sidebar:hover{
  background-color: darkgray;
}

.nav-activate{
  background-color:darkturquoise;
  border-radius: 2rem;
}

.profilePicture-sidebar{
  height: 36px;
  width: 36px;
  border-radius: 1rem;
}


.ico-sidebar{
  height: 36px;
  width: 36px;
}